/*
In ein XML-Dokument einbinden mit:
<?xml-stylesheet type="text/css" href="festMenue.css"?>
*/

festMenue,anlass,gericht {display: block;}
typ,name  {display: inline;}

festMenue {
  font-family: Helvetica, sans-serif;
  font-size: large;
  font-weight: normal;
  color: green;
  background-color: lightyellow;
  margin: 15% 10%;
}

anlass {
  font-size: large;
  font-weight: bold;
  color: lightyellow;
  background-color: green;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

gericht {
  font-size: medium;
  font-weight: normal;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

typ {
  font-weight: bold;  
}

typ:after {
    content: ': ';
}
